<div class="page-content-wrapper">
    <div class="page-content">
        

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="index">主页</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>HOME</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Portlet </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="fullscreen"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body portlet-empty"> </div>
                </div>
                <!-- END Portlet PORTLET-->
            </div>
            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Portlet </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="fullscreen"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body form portlet-empty"> </div>
                </div>
                <!-- END Portlet PORTLET-->
            </div>
            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Portlet </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="fullscreen"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body form portlet-empty"> </div>
                </div>
                <!-- END Portlet PORTLET-->
            </div>
            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Portlet </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="fullscreen"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body form portlet-empty"> </div>
                </div>
                <!-- END Portlet PORTLET-->
            </div>
        </div>
     </div>
</div>