<div class="page-content-wrapper">
    <div class="page-content">
        <h4 class="block">用户管理</h4>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="index.user.edit">System</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>User centre</span>
                </li>
            </ul>
        </div>

        <div class="form-actions">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="submit" class="btn green" ui-sref="index.user.edit">Add</button>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>
